{% extends "base.html" %}
{% block title %}Iniciar Sesion{% endblock %}

{% block content %}
<div class="col-12">
  {% load crispy_forms_tags %}
  <div class="column is-half">
    <h1 class="is-size-3 mt-3">Iniciar Sesion</h1>
    <p class="is-size-5">Please, use the following form to log-in:</p>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Iniciar Sesion" class="btn btn-primary">
    </form>
  </div>
  </br>
  {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class = 'alert alert-success alert-dismissible fade show' role = "alert">{{message}}
                <a href="{% url 'home' %}" type = "button" class = "btn btn-close" data-bs-dismiss = "alert" aria-label = "Close"></a>
            </div>
        {% endif %}  
    {% endfor %}
</div>
{% endblock %}

